<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Employee</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div th:insert="layout/header"></div>
<div><h1 style="color: #34ce57;text-align: center">Edit Employee</h1></div>
<div id="form">
  <form th:action="@{/employee/update}" method="post" th:object="${employeeDto}">
    <input type="hidden" th:field="*{id}">
    <label for="name">Employee Name</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Customer name..">

    <label for="birthday">Birthday </label>
    <input class="form-control" type="date" id="birthday" th:field="*{birthday}" placeholder="Birthday ..">
    <div style="color: #ff0026" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>


    <label for="idCard">IDCard </label>
    <input type="text" id="idCard" th:field="*{idCard}" placeholder="IDCard ..">
    <div style="color: #ff0026" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></div>


    <label for="phone">Number Phone </label>
    <input type="text" id="phone" th:field="*{phone}" placeholder="Number Phone ..">
    <div style="color: #ff0026" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>


    <label for="email">Email </label>
    <input type="text" id="email" th:field="*{email}" placeholder="Email  ..">
    <div style="color: #ff0026" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>


    <label for="address">Address </label>
    <input type="text" id="address" th:field="*{address}" placeholder="Address  ..">

    <label for="salary">Salary </label>
    <input type="text" id="salary" th:field="*{salary}" placeholder="Salary  ..">

    <label for="position" >Position  :</label>
    <select  id="position" th:field="*{position}" >
      <option th:each="position : ${positionList}"
              th:text="${position.name}"
              th:value="${position.id}"></option>
    </select>

    <label for="division" >Division  :</label>
    <select  id="division" th:field="*{division}" >
      <option th:each="division : ${divisionList}"
              th:text="${division.name}"
              th:value="${division.id}"></option>
    </select>

    <label for="education" >Education  :</label>
    <select  id="education" th:field="*{education}" >
      <option th:each="education : ${educationList}"
              th:text="${education.name}"
              th:value="${education.id}"></option>
    </select>

    <input type="submit" value="Submit">
  </form>
</div>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/jquery/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>