<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout::head">
</head>
<body>
<div class="container">
    <h3><a th:href="@{/blog/create}">Create new Blog</a></h3>

    <form th:action="@{/blog/list}" method="get">
        <label>Category</label>
        <select name="category_id">
            <option th:each="c : ${listCategory}" th:value="${c.id}" th:text="${c.name}"></option>
            <option value="0" th:text="All"></option>
        </select>
        <input type="submit" value="Ok" class="item-search">
    </form>

    <form th:action="@{/blog/list}" class="search">
        <label><input type="text" th:name="keyword" placeholder="Enter blog name"></label>
        <label><input type="submit" value="search" class="item-search"></label>
    </form>
</div>
<div class="notify1">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<div class="notify">
    <div th:if="${notFind}">
        <span th:text="${notFind}"></span>
    </div>
</div>
<div sec:authorize="isAuthenticated()">
    <h1>Xin chào<label sec:authentication="principal.username"></label></h1>
</div>
<table id="blog">
    <thead>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Name</th>
        <th>Name Author</th>
        <th>Category</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog,index :${listBlog}">
        <td th:text="${index.index+1}"></td>
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.nameAuthor}"></td>
        <td th:text="${blog.category.name}"></td>
        <td th:text="${blog.date}"></td>
        <td><a th:href="@{/blog/{id}/edit(id=${blog.id})}">Edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${blog.id})}">Delete</a></td>
        <td><a th:href="@{/blog/{id}/view(id=${blog.id})}">View</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/blog/list(page=${listBlog.number - 1},category_id=${category_id},keyword=${keywordValue})}"
       th:if="${listBlog.hasPrevious()}">Previous</a>
    <span th:text="${listBlog.number + 1}"></span>/<span th:text="${listBlog.totalPages}"></span>
    <a th:href="@{/blog/list(page=${listBlog.number + 1},category_id=${category_id},keyword=${keywordValue})}"
       th:if="${listBlog.hasNext()}">Next</a>
</div>
<div>
        <span th:each="pageNo : ${#numbers.sequence(0, listBlog.totalPages - 1)}">
            <a th:href="@{/blog/list(page = ${pageNo},category_id=${category_id},keyword=${keywordValue})}"
               th:text="${pageNo + 1} "></a>
        </span>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>