<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style>
        #search-and-title{
            display: flex;
            justify-content: space-between;
            margin: 10px 130px;
        }
    </style>

</head>
<body>

<div th:insert="layout/header"></div>
<div th:if="${success}">
    <strong th:text="${success}" style="color: red"></strong>
</div>
<div id="search-and-title">
    <div id="items1">
        <h2 style="color: #34ce57;position: relative;margin-top: 20px" >CUSTOMER LIST</h2>
    </div>
    <div id="item2">
        <form th:action="@{/customer/list}" id="item2-search">
            <label><input type="text" th:name="keyword" placeholder="Enter customer name"></label>
            <label><input type="submit" value="Search" class="item-search"></label>
        </form>
    </div>
</div>



<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Birthday</th>
            <th scope="col">Gender</th>
            <th scope="col">IdCard</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer,index :${customerList}">
            <th scope="row" th:text="${index.index+1}"></th>
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.customerType.typeName}"></td>
            <td th:text="${customer.birthday}"></td>
            <td th:text="${customer.gender}"></td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td><a class="btn btn-primary" role="button" th:href="@{/customer/{id}/edit(id=${customer.id})}">Edit</a></td>
<!--            <td>-->
<!--                <button  th:onclick="|onDelete( '${customer.id}')|" type="button" class="btn btn-danger" data-toggle="modal"-->
<!--                        data-target="#exampleModal">Delete-->
<!--                </button>-->
<!--            </td>-->
            <td>
                <button th:data1="${customer.id}" th:onclick="onDelete(this.getAttribute('data1')) " type="button" class="btn btn-danger" data-toggle="modal"
                         data-target="#exampleModal">Delete
                </button>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div class="container">
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" th:href="@{/customer/list(page=${customerList.number - 1},keyword=${keywordValue})}"
                                 th:if="${customerList.hasPrevious()}">Previous</a></li>
        <li class="page-item" th:each="pageNo : ${#numbers.sequence(0, customerList.totalPages - 1)}">
            <a class="page-link" th:href="@{/customer/list(page = ${pageNo},keyword=${keywordValue})}"
               th:text="${pageNo + 1} "></a>
        </li>
        <li class="page-item"><a class="page-link" th:href="@{/customer/list(page=${customerList.number + 1},keyword=${keywordValue})}"
                                 th:if="${customerList.hasNext()}">Next</a></li>
    </ul>
</nav>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form  action="/customer/delete" method="post">
                <input type="hidden" name="action" value="delete">
                <input type="text" name="id" value="" id="customerDel">
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <button type="submit" class="btn btn-primary">Có</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function onDelete(id) {
        document.getElementById("customerDel").value = id;
    }
</script>

</body>
</html>