<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h1>Create User</h1>
<p>
    <a href="/blog/list">Blog List</a>
</p>

<form th:action="@{/user/save}" th:object="${user}" method="post">
    <div>
        <input type="hidden"  th:field="*{id}">
        <div>
            <label>User Name:</label>
            <input type="text" th:field="*{username}"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="text" th:field="*{password}"/>
        </div>
        <div>
            <label>isEnabled</label>
            <select th:field="*{isEnabled}">
                <option th:value="true" th:text="true"></option>
                <option th:value="false" th:text="false"></option>
            </select>
        </div>
        <div>
            <input type="submit" value="Create">
        </div>
    </div>
</form>
</body>
</html>