<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/list">Blog List</a>
</p>

<form id="form" th:action="@{/update}" th:object="${blog}" method="post">
    <div>
        <div>
            <label>Id</label>
            <input type="hidden" th:field="*{id}">
        </div>
        <div>
            <label>Name Blog:</label>
            <input type="text" th:field="*{nameBlog}"/>
        </div>
        <div>
            <label>Species Blog:</label>
            <input type="text" th:field="*{species}"/>
        </div>
        <div>
            <label>Name Author:</label>
            <input type="text" th:field="*{nameAuthor}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}">
        </div>

        <div>
            <input type="submit" value="Update">
        </div>
    </div>
</form>
</body>
</html>